# build products...
*.py[co]
build
.ruby-version
# Mac OS X stuff...
.DS_Store
# Vim swap files
*.swp
*.swo
# test output
*.retry
*.out
# VSC
.vscode
# misc
*.pem
*.scratch
# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless